<h1>Welcome to our bank.</h1>
<%= form_for :session do |f| %>
  <div class="col-sm-2">
    <div class="form-group">
      <label for="email">E-mail:</label>
      <%= f.text_field :email, class: "form-control" %>
    </div>

   <div class="form-group">
      <label for="pwd">Password:</label>
      <%= f.password_field :password, class: "form-control"%>
   </div>
   <div class="form-group">
      <%= f.submit 'Submit', class: "btn btn-default"%>
   </div>
  </div>
<% end %>