<h1>Users!</h1>
<%= form_for :users, url: 'user/show' do |f| %>


    <h2> Welcome: <%= current_user.name %></h2>
    <p>If you want to see your Transactions press the button: <%= link_to 'Transactions',"transactions/show"%></p>


<% end %>