
<h2>Please select from the list with options:</h2>
    <div> 
     	<ul>
       	<li class="list_options"><%= link_to "Create new account", accounts_new_path%></li>
       	<li class="list_options"><%= link_to "Deposit", deposit_path %></li>
       	<li class="list_options"><%= link_to "Withdraw", withdraw_path %></li>
       	<li class="list_options"><%= link_to "Balance", balance_form_path %></li>
     	</ul>
    </div>
     
   