<h1>Withdraw</h1>

<p>Please enter the amount of money you want to withdraw.</p>

<%= form_for :withdraw, url: 'withdraw' do |f| %>
<%= f.number_field :withdraw %>
<%= f.submit 'Withdraw' %>
<% end %>