<h1>Balance</h1>

<p>Please select account to see his current balance! </p>

<%= form_for :transaction, url:'balance/current' do |f| %>
   <form action="balance_form.html.erb">
      <div class="form-group">
        <input type="radio" name="transaction[currency]" value="BGN">BGN<br>
        <input type="radio" name="transaction[currency]" value="EUR">EUR<br>
      </div>
      <div class="form-group">
        <%=f.collection_select(:account_id, current_user.accounts, :id, :name, {:prompt => "Select Account"})%>
      </div>
      <div class="form-group">
        <%= f.submit 'View Balance', class: 'btn btn-primary' %>
      </div>
   </form>
<% end %>